.App-title {
  font-size: 1.5em;
}

.event-image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.panel-profile .panel-heading {
  height: 150px;
  background-size: cover;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-heading.even {
  background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/insta-1.jpg);
}

.panel-heading.odd {
  background-image: url(//cdn.shopify.com/s/files/1/0691/5403/t/141/assets/insta-3.jpg);
}

.panel div.panel-body {
  background-image: none !important;
}

.country {
  margin-left: 10px;
}

.row-padded {
  padding-top: 80px;
  padding-bottom: 90px;
}

.row-centered {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.m-b-lg {
  margin-bottom: 45px !important;
}

.panel-profile-img {
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

h5 {
  font-size: 17px;
  margin-bottom: 5px;
}

.m-b {
  margin-bottom: 15px !important;
}

.btn-sm {
  font-size: 12px;
  padding: 5px 15px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  padding: 7px 24px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #6b15a1;
  background: #6b15a1;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  width: 120px;
  margin-left: -60px;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  min-height: 400px;
}

.panel-default {
  border-color: #ddd;
}

body {
  font-size: 16px;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
}
  100% {
    -webkit-transform: rotate(360deg);
}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
}
  100% {
    transform: rotate(360deg);
}
}

.categories.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  width: 40px;
  height: 40px;
}

.jumbotron {
  margin-bottom: 0px;
}

.filters {
  padding: 40px;
}
