body {
  padding: 0 2em;
  color: #024457;
  background: #f2f2f2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2 {
  text-align: center;
}

.form-style-5 {
  width: 50%;
  max-width: 500px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 50px;
  background: #f4f7f8;
  border-radius: 8px;
}

.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}

.edit {
  background-color: #167f92;
}

.delete {
  background-color: #921616;
}

.form-style-5 input,
.form-style-5 textarea {
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.form-style-5 input[type="submit"] {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

.form-style-5 input[type="submit"]:hover {
  background: #109177;
}

.status label,
.status input {
  display: inline-block;
  width: 10%;
}

.add-new {
  text-align: right;
  width: 50%;
  max-width: 500px;
  margin: 20px auto;
}

.action-link {
  background-color: ForestGreen;
  border-radius: 5px;
  color: white;
  padding: .5em 1em;
  text-decoration: none;
}

.edit {
  background-color: #167f92;
}

.delete {
  background-color: #921616;
}
